
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --green:#27ae60;
  --black:#2c2c54;
  --background:white;
  --bg2:#eee;
  --text:#2c2c54;

}

[dark-mode='dark']{
  --green:#52e690;
  --black:#cccce6;
  --background:rgba(2, 7, 29, 0.938);
  --text:rgba(162, 175, 175, 0.678);
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

*::selection{
  background:var(--green);
  color:#fff;
}

.App{
  font-size: 30.5%;
  overflow-x: hidden;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
}

section{
  padding:2rem 9%;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  background:var(--green);
  color:#fff;
  padding:.8rem 3rem;
  font-size: 1.7rem;
  text-align: center;
  cursor: pointer;
}

.btn:hover{
  background:var(--black);
}


.card {
    width: 100%;
    padding: 10px 70px 70px 70px;
    position: relative;
    background-color:var(--background);
    
  }

  
  .card h2 {
    color:var(--text);
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
  }
  
  .card .row {
    position: relative;
    width: 100%;
    display: grid;
    grid: auto / auto auto;
    grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
    grid-gap: 30px;
    padding-bottom: 10rem;
  }
  
  .card .row .col {
    position: relative;
    width: 100%;
    margin: 2px 5px 10px 0;
    transition: 0.5s;
  }
  
  .card .row .form-group {
    position: relative;
    width: 100%;
    height: 40px;
    color: rgba(3, 11, 49, 0.657);
  }
  
  .card .row .form-group input,
  .card .row .form-group textarea {
    position: absolute;
    width: 90%;
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 24px;
    padding: 10px 0 10px 20px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
    /* color: #ffffff; */
    border-radius: 50px;
    color: rgba(3, 11, 49, 0.657);
  }
  
  .card .row .form-group label {
    line-height: 30px;
    color: var(--text);
    font-size: 24px;
    margin: 0 0 0 30px;
    display: block;
    pointer-events: none;
  }
  
  .row .col:nth-child(6) {
    margin-top: 3rem;
  }
  
  .card .row .form-group input:focus,
  .card .row .form-group textarea:focus {
    border: 5px solid #ffffff;
    transition: all 0.5s;
  }
  
  .card .row input[type="submit"] {
    border: 5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
    height: 100%;
    width: 90%;
    cursor: pointer;
    outline: none;
    background: transparent;
    text-transform: uppercase;
    color:var(--black);
    line-height: 20px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 45px;
    transition: all 0.4s;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
}
  
  .card .row input[type="submit"]:hover {
    border: 5px solid rgb(19, 141, 55);
    color: var(--background);
    transition: all 0.4s;
    background-color: var(--green);
  }
  
  @media screen and (max-width: 900px) {
    .card .row {
      grid-template-columns: repeat(auto-fit,minmax(70%, 1fr));
    }
    
    .card {
      padding: 20px;
    }
    
    .card h2 {
      font-size: 34px;
    }
    
    .card .row input[type="submit"] {
      width: 100%;
    }
  }



  .footer {
    background-color:var(--background);
    border-top:2px solid var(--black);
    position: fixed;
    width: 100%;
    bottom: 0;
    color: var(--text);
    font-size: 25px;
   }

.footer p{
    text-align: center;
}


.heart{
    color:rgb(182, 55, 17);
}



.icons{
    
    display: flex;
    justify-content:center;
    flex-direction:row;
    flex-wrap: wrap;
    grid-gap:2px;
    padding-bottom: 0rem;
    font-size: 24px;
}

.cardB .icons .social-icon .social-iconF{
    height: 30%;
    width: 30%;
    color: var(--black);
    /* position:cover;S */
    
}

.cardB{
    display: flex;
    justify-content:center;
    background-color: var(--bg2);
}

.cardB .icons .social-icon .social-iconF:hover{
  transform: scale(1.5);
  border-radius: 100rem;
  background-color: var(--tog);
  box-shadow: rgba(25, 190, 33, 0.4) 0px 0px 0px 2px, rgba(44, 189, 25, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  -ms-border-radius: 100rem;
  -o-border-radius: 100rem;
}

@media (max-width: 598px){
  .cardB .icons .social-icon .social-iconF{
    height: 20%;
    width: 20%;
    color: var(--black);
    /* position:cover;S */
    
}}