
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --green:#27ae60;
  --black:#2c2c54;
  --background:white;
  --bg2:#eee;
  --text:#2c2c54;

}

[dark-mode='dark']{
  --green:#52e690;
  --black:#cccce6;
  --background:rgba(2, 7, 29, 0.938);
  --text:rgba(162, 175, 175, 0.678);
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

*::selection{
  background:var(--green);
  color:#fff;
}

.App{
  font-size: 30.5%;
  overflow-x: hidden;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
}

section{
  padding:2rem 9%;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  background:var(--green);
  color:#fff;
  padding:.8rem 3rem;
  font-size: 1.7rem;
  text-align: center;
  cursor: pointer;
}

.btn:hover{
  background:var(--black);
}


.card {
    width: 100%;
    padding: 10px 70px 70px 70px;
    position: relative;
    background-color:var(--bg2);
    
  }

  
  .card h2 {
    color:var(--text);
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
  }
  
  .card .row {
    position: relative;
    width: 100%;
    display: grid;
    grid: auto / auto auto;
    grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
    grid-gap: 30px;
    padding-bottom: 10rem;
  }
  
  .card .row .col {
    position: relative;
    width: 100%;
    margin: 2px 5px 10px 0;
    transition: 0.5s;
  }
  
  .card .row .form-group {
    position: relative;
    width: 100%;
    height: 40px;
    color: rgba(3, 11, 49, 0.657);
  }
  
  .card .row .form-group input,
  .card .row .form-group textarea {
    position: absolute;
    width: 90%;
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 24px;
    padding: 10px 0 10px 20px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
    /* color: #ffffff; */
    border-radius: 50px;
    color: rgba(3, 11, 49, 0.657);
  }
  
  .card .row .form-group label {
    line-height: 30px;
    color: var(--text);
    font-size: 24px;
    margin: 0 0 0 30px;
    display: block;
    pointer-events: none;
  }
  
  .row .col:nth-child(6) {
    margin-top: 3rem;
  }
  
  .card .row .form-group input:focus,
  .card .row .form-group textarea:focus {
    border: 5px solid #ffffff;
    transition: all 0.5s;
  }
  
  .card .row input[type="submit"] {
    border: 5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
    height: 100%;
    width: 90%;
    cursor: pointer;
    outline: none;
    background: transparent;
    text-transform: uppercase;
    color:var(--black);
    line-height: 20px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 45px;
    transition: all 0.4s;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
}
  
  .card .row input[type="submit"]:hover {
    border: 5px solid rgb(19, 141, 55);
    color: var(--background);
    transition: all 0.4s;
    background-color: var(--green);
  }
  
  @media screen and (max-width: 900px) {
    .card .row {
      grid-template-columns: repeat(auto-fit,minmax(70%, 1fr));
    }
    
    .card {
      padding: 20px;
    }
    
    .card h2 {
      font-size: 34px;
    }
    
    .card .row input[type="submit"] {
      width: 100%;
    }
  }



  .footer {
    background-color:var(--bg2);
    border-top:2px solid var(--black);
    position: fixed;
    width: 100%;
    bottom: 0;
    color: var(--text);
    font-size: 25px;
   }

.footer p{
    text-align: center;
}


.heart{
    color:rgb(182, 55, 17);
}



.icons{
    
    display: flex;
    justify-content:space-around;
    flex-direction:row;
    flex-wrap: nowrap;
    grid-gap:2px;
    padding:0rem;
    font-size: 24px;
}

.iconsT{
  padding-top: 2rem;
}

.cardB .icons .social-icon .social-iconF{
    height: 50%;
    width: 50%;
    color: var(--black);
    /* position:cover;S */
    
}

.cardB{
    display: flex;
    justify-content:center;
    background-color: var(--background);
    
}

.cardB .icons .social-icon .social-iconF:hover{
  transform: scale(1.5);
  border-radius: 100rem;
  background-color: var(--tog);
  box-shadow: rgba(25, 190, 33, 0.4) 0px 0px 0px 2px, rgba(44, 189, 25, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  -ms-border-radius: 100rem;
  -o-border-radius: 100rem;
}



/* ARROW TO MIGRATE TOP STYLES */

.tscroll:before{
  content:attr(data);
  visibility:hidden;
  opacity: 0;
  background-color: var(--bg2);
  transition: opacity 1s bounce 0s linear;
  -webkit-transition: opacity 1s bounce 0s linear;
  -moz-transition: opacity 1s bounce 0s linear;
  -ms-transition: opacity 1s bounce 0s linear;
  -o-transition: opacity 1s bounce 0s linear;
}

.tscroll:hover:before {
  opacity: 1;
  visibility: visible;
  text-align: center;
  font-size:16px;
}
.top-arrow {
  width:30px;
  height:20px;
  padding-top: 60px;
  display: grid;
  background: 
    linear-gradient(currentColor 0 0) bottom/100px calc(100% - 100px),
    conic-gradient(from 134deg at top,rgba(32, 173, 91, 0) ,currentColor 1deg 90deg,#0000 91deg) top/100% 15px;
  background-origin: content-box;
  background-repeat: no-repeat;
  animation: a10-0 2s infinite;
  
}


.top-arrow:before,
.top-arrow:after {
  content: "";
  grid-area: 1/1;
  background:inherit;
  background-size: 10px calc(100% - 25px),100% 25px;
  animation: a10-1 2s initial;
  -webkit-animation: a10-1 2s initial;
}
.top-arrow:after {
  background-size: 10px calc(100% - 30px),100% 30px;
  animation: a10-2 2s initial;
  -webkit-animation: a10-2 2s initial;
}
@keyframes a10-0 {
  25%,100% {padding-top:0px}
}

@keyframes a10-1 {
  0%,25%   {margin:60px -10px 0}
  50%,100% {margin:8px  -10px 0}
}
@keyframes a10-2 {
  0%,50%   {margin:60px -15px 0}
  75%,100% {margin:20px -15px 0}
}





/* MEDIA QUERIES */

@media (max-width: 800px){
.menubar{
  display: block;
  }

.App .header-B {
  display: none;
}

 .bar2{
   display: none !important;
 } 


 
 /* .bar1{
   display: none !important;
 }  */
}
@media (max-width: 668px){
  .cardB .icons .social-icon .social-iconF{
    height: 100%;
    width: 100%;
    color: var(--black);
    flex-wrap:wrap-reverse;
    margin-right: 3rem;
    
}


.icons{
  display: flex;
  justify-content:space-between;
  flex-direction:row;
  flex-wrap: nowrap;
  grid-gap:2px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 16px;

}}


@media (max-width: 880px){
  .cardB .icons .social-icon .social-iconF{
    height: 50%;
    width: 50%;
    color: var(--black);
    flex-wrap:wrap-reverse;
    margin-right: 3rem;
    
}
.icons{
  display: flex;
  justify-content:space-between;
  flex-direction:row;
  flex-wrap: nowrap;
  grid-gap:2px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 16px;

}



}










/* 
background: linear-gradient(90deg,#181313,#191c19 20%,#283320 35%,#314128 50%,#2f4518 63%,#181313 90%,#181313);
    background-image: linear-gradient(90deg, rgb(24, 19, 19), rgb(25, 28, 25) 20%, rgb(40, 51, 32) 35%, rgb(49, 65, 40) 50%, rgb(47, 69, 24) 63%, rgb(24, 19, 19) 90%, rgb(24, 19, 19));
    background-position-x: initial;
    background-position-y: initial;
    background-size: 400%;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-size: 400%;
    -webkit-animation: bgAnimation 30s infinite;
    animation: bgAnimation 30s infinite;
    animation-duration: 30s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: bgAnimation;
}

 */













