/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 65px;
    top: 36px;
  }
  

  .bm-burger-bars {
    background: #060a1d;
  }
 
  .bm-burger-bars-hover {
    background: #24bd57d3;
  }
  

  .bm-cross-button {
    height: 30px;
    width:5rem;
    background-color:rgb(93, 93, 148);
    border-radius: 2rem;
    left:70%;
    top: 0;
  }

  .bm-cross {
    background: #9e0d19;
    border: 1px solid;
  }
  
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
 
  .bm-menu {
    background: #5e697478;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    opacity: 0.5rem;
    width:60%;
  }
  

  .bm-morph-shape {
    fill: #373a47;
  }
  

  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  

  .bm-overlay {
    background: rgba(163, 148, 148, 0.3);
    opacity:2;
  }
  


  .menu-content{
    /* background-color:rgba(66, 62, 62, 0.3); */
    height:80%;
    width:80%;
    display: none;
    justify-content:center;
    align-items:center;
 
  }
.abs{
  display: inline-block;
  align-items:center;
}
.abs img{
  padding-top:1rem;
  align-items:center;
}


  .menu-item{
    display:block;
    padding-bottom:1rem;
    /* padding-left: 2rem; */
    font-size:1.5rem;
    color:rgba(240, 246, 246, 0.377);
   
  }



a {
      display: inline-block;
      text-decoration:none
  }
  .menu-item:after {
      content: "";
      display: block;
      width: 0;
      border-bottom: 4px rgb(9, 9, 42) solid;
      margin: 0 auto;
      transition:all 0.2s linear 0.1s;
      -webkit-transition:all 0.2s linear 0.1s;
      -moz-transition:all 0.2s linear 0.1s;
      -ms-transition:all 0.2s linear 0.1s;
      -o-transition:all 0.2s linear 0.1s;
}
  
  .menu-item:hover:after {
      width: 5rem;
  }
  
  .menu-item:before{
    width: 100%;
}

 


  [dark-modeMobile='dark']{
    --green:#52e690;
    --black:#cccce6;
    --background:rgba(2, 7, 29, 0.938);
    --bg2:rgba(2, 7, 29, 0.9);
    --abouttext:rgba(131, 147, 155, 0.835);
    --tog:rgba(18, 150, 155, 0.329);
    --button:rgba(31, 132, 141, 0.767);
    --hbtn:rgba(9, 107, 9, 0.767);
  }
  